.tab-list{
    color: white;
    padding: .5rem;
    
}
.tab-count{
    background-color: #2d96f7;
    padding: .05rem .3rem;
    font-size: 10px;
    margin-left: .5rem;
    display: inline-block;
    border-radius: 2px;
    height: fit-content;
}

.tab-line{
    margin-top: .8rem;
    height: 3px;
}
.tab-line>div{
    height: 100%;
    background-color: #2d96f7;
    border-radius: 2px;

}

@media only screen and (max-width: 440px){
    .tab-count{
        padding: .1rem .2rem;
        font-size: 8px;
    }
}